# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/

# Env
.env
*.env
backend/.env

# Alembic
backend/migrations/versions/

# Uploads
backend/uploads/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
